.header-container {
    display: flex;
    justify-content: center;
    height: 50px;
    padding: var(--spacing-small);
    /* background-color: var(--color-medium); */
    border-bottom: 1px solid var(--color-grey);    
}

.header-logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-right: var(--spacing-medium);
    padding-top: var(--spacing-extrasmall);
    letter-spacing: var(--spacing-extrasmall);
}

.header-counter {
    background: url('img/bag.png') left/contain no-repeat;
    padding: var(--spacing-extrasmall) var(--spacing-medium) 0px 37px;
    font-weight: bold;
    cursor: pointer;
}